.webdev-container {
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}

.webdev-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  animation: fadeInDown 1s ease-in-out;
}

.content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Video section styles */
.video-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-section {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  width: 97%;
  animation: fadeInUp 1s ease-in-out;
}

.about-section h2 {
  margin-bottom: 10px;
}

/* Syllabus section styles */
.syllabus-section {
  width: 35%;
  background-color: rgba(255, 255, 255, 0.1);
  /* padding: 20px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInUp 1s ease-in-out;
}

.lesson-buttons {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 10px;
  /* gap: 15px; */
}

.lesson-button {
  width: 300px;
  padding: 15px;
  background-color: #1b1b33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.lesson-button:hover {
  background-color: #2b2b41;
  transform: translateY(-3px);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
